.file-viewer {
  max-height: 100%;

  .file-viewer-tab {
    float: left;
    box-sizing: border-box;
    border: 1px solid color-mix(in oklab, rgba(82, 131, 136, 1) 50%, white);
    border-radius: 0px 8px 0 0;
    background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 75%, white);
    width: 35%;

    button {
      display: block;
      background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 70%, white);
      width: 100%;
      border-width: 0px 0 1px 0;
      border-color: color-mix(in oklab, rgba(82, 131, 136, 1) 50%, white);
      text-align: left;
      cursor: pointer;
      border-radius: 0;
    }

    button.active {
      background-color: rgba(82, 131, 136, 1);
    }

    .file-viewer-tablinks {
      font-size: 14px;
      font-style: italic;
    }

    .file-upload-button {
      border-width: 1px;
      border-bottom: 1px;
      border-style: solid;
      border-radius: 0 8px 0 0;
      font-style: normal;
    }

    .file-upload-button:hover {
      background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
    }

    .file-upload-label {
      box-sizing: border-box;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      width: 100%;
      display: inline-block;
    }

    #fileViewerTabLinks {
      overflow-y: auto;
    }
  }

  .file-viewer-tabcontent {
    float: left;
    padding: 16px 16px 0 16px;
    width: 65%;
  }

  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
