.copy-to-input-hover {
    display: none;
    color: #aaa;
}

.copy-to-input-button:hover {
    .copy-to-input-hover {
        display: block;
    }
}

.copy-to-input-span {
    display: flex;
    align-items: center;
}

.copy-to-input-character {
    padding-left: 4px;
}
