#videoRow {
    position: relative;

    video {
        /* border-radius: 16px; */
        /* transition: .3s; */
    }

    video::-webkit-media-controls-fullscreen-button {
        /* display: none; */
        visibility: hidden;
    }

    /* FOR FUTURE REFERENCE */
    /* video::-webkit-media-controls-play-button {}
    video::-webkit-media-controls-timeline {}
    video::-webkit-media-controls-current-time-display{}
    video::-webkit-media-controls-time-remaining-display {}
    video::-webkit-media-controls-mute-button {}
    video::-webkit-media-controls-toggle-closed-captions-button {}
    video::-webkit-media-controls-volume-slider {} */


    #videoInput {
        display: none;
    }

    .video-upload-button {
        position: absolute;
        z-index: 999;
        cursor: pointer;
        transition: .3s;
        color: white;
        text-shadow: 2px 2px 15px rgba(0, 0, 0);
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding: 6px;
        left: 0;
        top: 0;
        margin: 15px 0 0 10px;
    }

    .video-upload-button:hover {
        background-color: color-mix(in oklab, rgba(116, 184, 192, 0.5) 90%, black);
        border-color: color-mix(in oklab, rgba(116, 184, 192, 0.5) 90%, black);
    }

    .video-upload-label {
        cursor: pointer;
    }

    .video-controls {
        position: absolute;
        /* left: 26%;
        bottom: 9.5%; */
        z-index: 999;
        /* transition: .3s; */
        color: white;
        text-shadow: 2px 2px 15px rgba(0, 0, 0);
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding: 6px;
        left: 0;
        bottom: 0;
        margin: 0 0 35px 150px;
    }

    video.fullscreen {
        width: 100%;
        height: 100%;
    }

    .video-controls.fullscreen {
        /* left: 26%;
        bottom: 5%; */
    }

    .img-button {
        padding-top: 3px;
    }
}
