#srtInputFile {
    display: none;
}

.file-upload-button {
    background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 75%, black);
    border: 1px solid color-mix(in oklab, rgba(82, 131, 136, 1) 75%, black);
}

.file-upload-button:hover {
    background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
    border-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
}

.file-upload-label {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}
