.notification-information {
    background-color: #5d5d5d;
    /* color: black; */
}

.notification-warning {
    background-color: rgba(227, 213, 129, 1);
    color: black;

    button {
        color: black;
    }
}

.notification-error {
    background-color: rgba(255, 135, 153, 1);
    color: rgba(161, 46, 63, 1);

    button {
        color: rgba(161, 46, 63, 1);
    }
}

.notification {
    font-size: 12px;
    align-items: center;
    animation: fadeIn .3s ease-in forwards;

    button {
        background-color: transparent;
        font-size: 12px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    button:hover,
    button:focus {
        border-color: transparent;
        outline: none;
    }

    &.timeout {
        animation: fadeInOut 3s ease-in-out forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    20% {
        opacity: 1;
        visibility: visible;
        display: initial;
    }

    80% {
        opacity: 1;
        visibility: visible;
        display: initial;
    }
    
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}