#inputContainer {
  .tab-content-row {
    height: 400px;
    background-color: rgba(82, 131, 136, 1);
    border-color: rgba(82, 131, 136, 1);
  }

  .tabbed-container-tab button {
      background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 75%, black);
      border: 1px solid color-mix(in oklab, rgba(82, 131, 136, 1) 75%, black);
  }

  .tabbed-container-tab button:hover {
    background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
    border-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
  }

  .tabbed-container-tab button.active {
    background-color: rgba(82, 131, 136, 1);
    border-color: rgba(82, 131, 136, 1);
  }
}