#customCharacterControl {
    fieldset {
        flex-direction: row;
        border-width: 0;
        
        legend {
            display: flex;
            align-items: center;
            font-size: 11px;
        }
    }
}