.controls-tab-content-row {
  height: 400px;
  box-sizing: border-box;
  border-radius: 0 8px 8px 8px;
  /* background-color: rgba(160, 78, 86, 1); */
  border-color: rgba(160, 78, 86, 1);
  border-style: solid;
  border-width: 1px;
}

.controls-container-tab {
  overflow: hidden;
}

.controls-container-tab button {
    /* background-color: rgba(160, 78, 86, 1); */
    float: left;
    border-width: 1px 1px 0 1px;
    border-color: rgba(160, 78, 86, 1);
    border-style: solid;
    -moz-border-radius: 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    outline: none;
}

.controls-container-tab button:hover {
  /* background-color: rgba(160, 78, 86, 1); */
  border-color: rgba(160, 78, 86, 1);
}

.controls-container-tab button.active {
  /* background-color: rgba(160, 78, 86, 1); */
  border-color: rgba(160, 78, 86, 1);
}

.controls-container-tabcontent {
  padding: 0;
  height: 100%;
}

.inner-tabcontent-container {
  height: 100%;
  /* background-color: #3B3B3B; */
}

.padded-container {
  padding: 16px;
}