#controlsContainer {
  .tab-content-row {
    height: 400px;
    background-color: rgba(26, 26, 26, 1);
    border-color: rgba(26, 26, 26, 1);
  }

  .tabbed-container-tab button {
      background-color: color-mix(in oklab, rgba(26, 26, 26, 1) 75%, black);
      border-color: color-mix(in oklab, rgba(26, 26, 26, 1) 75%, black);
      border-style: solid;
      border-width: 1px 1px 0 1px;
  }

  .tabbed-container-tab button:hover {
    background-color: color-mix(in oklab, rgba(26, 26, 26, 1) 90%, black);
    border-color: color-mix(in oklab, rgba(26, 26, 26, 1) 90%, black);
  }

  .tabbed-container-tab button.active {
    background-color: rgba(26, 26, 26, 1);
    border-color: rgba(26, 26, 26, 1);
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: .5rem;
    padding-block: 0.2em 0.5em;
    padding-inline: 0.5em;

    legend {
      color: initial;
    }
  }

  fieldset.empty {
    padding-block: 0.35em 0em;
    border-width: 2px 0px 0px 0px;
  }

  fieldset:disabled {
    color: rgba(170, 170, 170, 1);
  }

  input[type=checkbox] {
    accent-color: rgba(82, 131, 136, 1);
  }

  .checkbox-row {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: white;
  }

  #scrubNonDialogueRow {
    font-size: 12px;
  }

  .inner-tabcontent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}